<html>
    <head>
        <title>chat</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9bc671aedc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/chat.css"/> 
    </head>

    <body>
        <div class="wrap">
            <!-- top-navbar -->
            <div class="main-navbar"> 
                <div class="dots">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                </div>
                <div class="title">
                    <span> Welcome online Chat </span>
                </div>
                <div class="expand">
                    <i class="fa fa-expand"></i>
                </div>
            </div>

            <div class="container">
                <div class="user-info">
                    <div class="user-input">
                        <form action="/chat" method="POST">
                            <span>User name</span></br>
                            <input type="text" id="name" name="name" value="">
                            <span>Choose Profile color</span>
                            <input type="color" id="color" name="color" value=""></br>
                            <input type="submit" value="Go!" class="go-btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    
        <script>
            function send() {
                location.href="http://localhost:8000/chat"
            }

            /* enter key */
            var input = document.getElementById("name");

            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    send();
                }
            });
        </script>
    </body>
</html>
